<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap archivos/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Cliente.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">
    <title>Cliente</title>
</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 varcolor var">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">SGB</span>
        </a>

        <ul class="nav nav-pills">
            <li class="buton-nav"><a href="/Home.html" class="nav-link" aria-current="page">Inicio</a></li>
            <li class="buton-nav"><a href="/Lista-usuarios.html" class="nav-link">Clientes</a></li>
            <li class="buton-nav"><a href="/Libros.html" class="nav-link">Libros</a></li>
            <li class="buton-nav "><a href="/index.html" class="nav-link cerrar">Cerrar Sesion</a></li>
        </ul>
    </header>
    <div class="card ">
        <div class="card-body">
            <h5 class="card-title">Aarom Ramsés</h5>
            <img src="/assets/img/Clientes/download.png">
            <p class="card-text">Apellidos: Cárdenas Hernández</p>
            <p class="card-text">Facultad: 2</p>
            <p class="card-text">#Solapin: E152282</p>
            <p class="card-text">Apto UCI: Apto 140103</p>
            <p class="card-text">Usuario: arcardenas</p>
            <p class="card-text">Grupo: IDF2401</p>
            <p class="card-text">Provincia: Villa Clara</p>
            <p class="card-text">Municipio: Santa Clara</p>
            <a href="#" class=" buton1 btn btn-dark active " role="button" data-bs-toggle="button" aria-pressed="true" onclick="Activar()">Activar</a>
            <a class=" buton2 btn btn-dark active " role="button" data-bs-toggle="button" aria-pressed="true" onclick="redirrecionar()">Añadir Prestamo</a>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Libros Prestados</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID no.</th>
                                    <th>Nombre</th>
                                    <th>Autor</th>
                                    <th>Fecha de pedido</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="alert" role="alert">
                                    <th scope="row">001</th>
                                    <td>Fundacion</td>
                                    <td>IIsaac Asimov</td>
                                    <td>22/8/2022</td>
                                    <td>
                                        <a href="#" class="close" data-dismiss="alert" aria-label="Close" onclick="desactivarp()">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="alert" role="alert">
                                    <th scope="row">002</th>
                                    <td>Un mundo Feliz</td>
                                    <td>Adham H. Huxley</td>
                                    <td>25/9/2021</td>
                                    <td>
                                        <a href="#" class="close" data-dismiss="alert" aria-label="Close" onclick="desactivarp()">
                                            <span aria-hidden=" true "><i class="fa fa-close "></i></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="alert " role="alert ">
                                    <th scope="row ">003</th>
                                    <td>Cecilia Valdez</td>
                                    <td>Cirilo Villaverde</td>
                                    <td>10/10/2020</td>
                                    <td>
                                        <a href="# " class="close " data-dismiss="alert " aria-label="Close " onclick="desactivarp()">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="alert" role="alert">
                                    <th scope="row">004</th>
                                    <td>1984</td>
                                    <td>H. Wells</td>
                                    <td>15/10/2020</td>
                                    <td>
                                        <a href="#" class="close" data-dismiss="alert" aria-label="Close" onclick="desactivarp()">
                                            <span aria-hidden=" true "><i class="fa fa-close "></i></span>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="alert " role="alert ">
                                    <th scope="row ">005</th>
                                    <td>Diario de Ana Frank</td>
                                    <td>Ana Frank</td>
                                    <td>30/1/2017</td>
                                    <td>
                                        <a href="# " class="close " data-dismiss="alert " aria-label="Close " onclick="desactivarp()">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap archivos/js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/Home.js"></script>
    <script src="/js/cliente.js"></script>
</body>

</html>