<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Libros.css">
    <link rel="stylesheet" href="/bootstrap archivos/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <!-- Style -->
    <link rel="stylesheet" href="css/Librostyle.css">
    <title>Libros</title>
</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 varcolor var">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">SGB</span>
        </a>

        <ul class="nav nav-pills">
            <li class="buton-nav"><a href="/Home.html" class="nav-link" aria-current="page">Inicio</a></li>
            <li class="buton-nav"><a href="/Lista-usuarios.html" class="nav-link">Clientes</a></li>
            <li class="buton-nav"><a href="/Libros.html" class="nav-link">Libros</a></li>

            <li class="buton-nav "><a href="/index.html" class="nav-link cerrar">Cerrar Sesion</a></li>
        </ul>
    </header>

    <div class="content">

        <div class="container">
            <h2 class="mb-5">Lista de Libros</h2>


            <div class="table-responsive custom-table-responsive">

                <table class="table custom-table">
                    <thead>
                        <tr>

                            <th scope="col">
                                <label class="control control--checkbox">
                  <input type="checkbox"  class="js-check-all"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>

                            <th scope="col">Orden</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Fecha de Publicacion</th>
                            <th scope="col">Cantidad de Ejemplares</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>
                            <td>
                                1
                            </td>
                            <td>Fundacion</td>
                            <td>IIsaac Asimov</td>
                            <td>22/8/2022</td>
                            <td>15</td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>

                            <td>2</td>
                            <td>Un mundo Feliz</td>
                            <td>Adham H. Huxley</td>
                            <td>25/9/2021</td>
                            <td>23</td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>

                            <td>3</td>
                            <td>Cecilia Valdez</td>
                            <td>Cirilo Villaverde</td>
                            <td>10/10/2020</td>
                            <td>7</td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>

                            <td>4</td>
                            <td>1984</td>
                            <td>H. Wells</td>
                            <td>15/10/2020</td>
                            <td>4</td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>

                            <td>5</td>
                            <td>Diario de Ana Frank</td>
                            <td>Ana Frank</td>
                            <td>30/1/2017</td>

                            <td>34</td>
                        </tr>
                        <tr class="spacer">
                            <td colspan="100"></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label class="control control--checkbox">
                  <input type="checkbox"/>
                  <div class="control__indicator"></div>
                </label>
                            </th>

                            <td>6</td>
                            <td>1984</td>
                            <td>H. Wells</td>
                            <td>15/10/2020</td>
                            <td>4</td>
                        </tr>


                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-dark align-content-end "> Aceptar</button>
                </div>
            </div>


        </div>

    </div>
    <script src="bootstrap archivos/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>